.redes {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    margin-right   : 2rem;
    padding-top    : 2rem;
    z-index        : 2;
}

.a-cnt {
    color     : inherit;
    font-style: italic;
}

.tres {
    width       : 20px;
    margin-right: 0;
}

.icons {
    display        : flex;
    justify-content: right;
    align-items    : flex-start;
    padding        : 1rem 0 1rem 0;
    flex-direction : column;
}

.img-footer {
    display: flex;
    z-index: -1;
    width  : 100%;
}

.img-flores {
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows   : 2fr;
    grid-column-gap      : 7px;
    grid-row-gap         : 0px;
    display              : flex;
    justify-content      : center;
    align-items          : center;
    flex-direction       : column;
}

.title-slide {
    padding-bottom : 2rem;
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
}

@media only screen and (min-width: 693px) {
    .img-flores {
        display                 : grid;
        grid-template-columns   : repeat(2, 1fr);
        grid-template-rows      : 1fr;
        grid-column-gap         : 7px;
        /* grid-row-gap         : 0px; */
        justify-content         : center;
        align-items             : center;
        flex-direction          : row;
        margin-top              : 6rem;
    }

    .div-e {
        grid-area     : 1 / 1 / 2 / 2;
        display       : flex;
        justify-items : center;
        align-items   : center;
        flex-direction: column;
        width         : 80%;
    }

    .div-m {
        grid-area     : 1 / 2 / 2 / 3;
        display       : flex;
        justify-items : center;
        align-items   : center;
        flex-direction: column;
        margin        : 6rem 0 0 0;
    }

    .div-d {
        grid-area     : 1 / 3 / 2 / 4;
        margin-top    : 16rem;
        /* margin-left: 10rem; */
    }

    .title-slide {
        padding-bottom : 2rem;
        display        : flex;
        justify-content: center;
        align-items    : self-start;
        flex-direction : inherit;
        margin-top     : 6rem;
    }

    .title-slide p {
        padding-top: 1rem;
    }

    .btn-slide {
        display        : flexbox;
        justify-content: right;
        align-items    : flex-end;
        margin         : 1rem 0 0 0;
    }

    footer {
        display        : inline-block;
        justify-content: center;
        align-items    : center;
        flex-direction : column;
        width          : 100%;
        height         : 100%;
        margin-top     : 6rem;
    }

    .redes {
        display        : flex;
        justify-content: center;
        align-items    : flex-start;
        flex-direction : column;
        margin         : 0 0 0 2rem;
        padding-top    : 2rem;
    }

    .flores-dir {
        display        : flex;
        justify-content: space-around;
    }
}