footer {
    padding-top: 20rem;
}

.img-flores {
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows   : 1fr;
    grid-column-gap      : 7px;
    grid-row-gap         : 0px;
}

.div-e {
    grid-area: 1 / 1 / 2 / 2;
}

.div-m {
    grid-area  : 1 / 2 / 2 / 3;
}

.div-d {
    grid-area: 1 / 3 / 2 / 4;
    margin-top : 16rem;
    margin-left: 10rem;
}