.link {
  position     : relative;
  display      : inline-block;
  font-size    : 20px;
  color        : var(--black);
  z-index      : 1;
  margin-bottom: 8px;
  padding      : 5px;
}

.link:after {
  content         : '';
  background-color: var(--green-100-alpha);
  width           : 100%;
  height          : 60%;
  position        : absolute;
  display         : block;
  top             : 20%;
  /* left         : 5px; */
  transition      : 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  z-index         : -1;
}

.link:hover::after {
  top   : 0;
  left  : 0;
  height: 100%;
  width : 100%;
}

.link--icon::before {
  content    : '';
  width      : 30px;
  height     : 30px;
  position   : absolute;
  left       : 100%;
  background : url('../icons/icon-arrow.svg') no-repeat;
  margin-left: 20px;
  transition : 0.3s ease-in-out;
  opacity    : 0;
}

.link--icon:hover::before {
  margin-left: 10px;
  opacity    : 1;
}

@media screen and (max-width: 668px) {
  .link {
    font-size: 16px;
  }
}