* {
  padding   : 0;
  margin    : 0;
  box-sizing: border-box;
}

body {
  display         : flex;
  justify-content : center;
  align-items     : center;
  flex-direction  : column;
  background-color: #ffe4c6;
}

@media only screen and (min-width: 693px) {
  body {
    display              : grid;
    grid-template-columns: 1fr;
    grid-template-rows   : repeat(3, 1fr);
    grid-column-gap      : 0px;
    grid-row-gap         : 0px;
    background-color     : #ffe4c6;
  }

  h1 {
    font-size: 2rem;
  }

}


li {
  list-style: none;
}

a {
  text-decoration: none;
}

object {
  pointer-events: none;
}