:root {
  --green-100: #78DFCD; 
  --green-100-alpha: #fda9a9;
  --green-200: #269E89;

  --white-100: rgb(255, 210, 210);
  --white-900: rgb(90, 0, 71);

  --black: rgb(83, 19, 43);

  --header-height: 500px;
  --main-offset-y: -90px;
  --border-color-alpha: #d31717;
}