:root {
  --green-100: #78DFCD; 
  --green-100-alpha: #e982cfc7;
  --green-200: #269E89;

  --white-100: rgb(255, 240, 252);
  --white-900: rgb(255, 255, 255);

  --black: rgb(42, 44, 44);

  --header-height: 500px;
  --main-offset-y: -90px;
  --border-color-alpha: #e982cfc7;
}